@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

body{
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}
a {
  text-decoration: none;
}
nav {
  width: 100vw;
  height: 70px;
  background-color: #454545;
  display: flex;
  position: fixed;
  z-index: 9;
}
.nav_container {
  /* background-color: red; */
  width: 1194px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.nav_left,.nav_center,.nav_right {
  display: flex;
}
.nav_left p,
.nav_right p {
  box-sizing: border-box;
  padding: 0 19px;
}
.nav_right p:last-child {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  width: 72px;
  margin: auto;
  padding: 3px 19px;
}
.nav_left p a,
.nav_right p a {
  line-height: 38px;
  color: #e0e0e0;
  font-size: 20px;
  font-weight: 100;
}
.nav_center input {
  width: 348px;
  height: 46px;
  border-radius: 10px;
  border: none;
  margin: auto 0;
  padding: 0 15px;
  font-size: 20px;
  box-sizing: border-box;
  background-color: #d9d9d9;
}

.nav_center input:focus::placeholder {
  opacity: 0;
}
.main_container {
  /* border: 1px solid #000; */
  background: #fff;
  width: 1194px;
  margin: 0 auto;
  padding-top: 70px;
}
.img_bg {
  /* border: 1px solid blue; */
  height: 460px;
}
.main_search {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  margin: 42px 0;
}
.main_search input {
  width: 480px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #e0e0e0;
  font-size: 20px;
  padding: 0 15px;
  box-sizing: border-box;
}
.main_search p {
  margin: 0 16px;
  line-height: 50px;
  font-size: 20px;
}
.main_search button {
  width: 131px;
  border: none;
  border-radius: 10px;
  background-color: #3381FF;
  color: white;
  font-size: 20px;
}
.main_container {
  margin-bottom: 200px;
}
.trend_charts {
  /* border: 1px solid yellowgreen; */
}
.trend_charts>p {
  text-align: center;
  font-size: 30px;
}
.chart_blocks {
  /* border: 1px solid #000; */
  margin: 0 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.chart_block {
  border: 1px solid #fff;
  display: inline-block;
  /* margin-right: 30px; */
  box-sizing: border-box;
  margin-bottom: 50px;
}
.chart_block:last-child{
  margin-right: 0;
}
.chart_block img {
  display: inline-block;
  width: 160px;
  height: 160px;
  background-color: gray;
}
.chart_block p{
  font-size: 20px;
  margin: 0;
}
.chart_block p:last-child {
  font-size: 14px;
  margin-top: 5px;
}